@import "roboto.css";

body {
    font-family: "Roboto", sans-serif;
    background-color: #add8e6;
}

.container {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 2rem;
    border: 5px solid #f0ffff;
}

h1 {
    text-align: center;
}

.logo {
    background-image: url("../../public/assets/images/microsoft-5.svg");
    background-size: cover;
    height: 150px;
    width: 150px;
    margin: 0 auto;
}