@import './reset.css';
@import './roboto.css';
@import './_colors.scss';

html {
    font-family: "Roboto", sans-serif;
    color: map-get($colors, 'white');
}

#root {
    background-color: map-get($colors, 'primaryDark');
}